.back-pic2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../../../public/assets/table-background.jpeg');
    background-size: cover;
}

/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
    border-radius: 15px;
}

::-webkit-scrollbar
{
    border-radius: 15px;
	width: 6px;
    height: 6px;
	background-color: #eae4e4;
} */

/* ::-webkit-scrollbar-thumb
{
    border-radius: 15px;
	background-color: rgb(199, 201, 200);
} */