.App {
  display: flex;
  justify-content: center;
}

.login-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  height: 30rem;
  width: 35%;
  border: 3px solid #1a202c;
  border-radius: 8px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
} 
