.App {
  display: flex;
  justify-content: center;
}

.login-container{
  margin-top: 7rem;
  height: 25rem;
  max-width: 370px;
  width: 90%;
  border: 3px solid #1a202c;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
} 
