.card-container{
  direction: rtl;
  width: 20rem;
  min-height: 16.5rem;
  margin: 1rem 2rem 1rem 2rem;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 15px -5px;
}

.finish{
    margin-right: 2px;
}

.card-title{
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

.card-content{
    max-height: 15rem;
    padding: 0.5rem 2rem 1rem 0;
    overflow: auto;
}

p{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    display: flex;
    width: 85%;
    padding-right: 3px;
}

h4 {
    margin-right: 3px;
}

.aaaa{
    background-color: #f3f3f3;
}

.final-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-left: 1.75rem;
}

.final-score-subject{
    width: auto;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    color: rgb(43, 132, 43);
    height: 1.5rem;
    font-weight: 700;
}

.final-score-grade{
    font-weight: bold;
}

.missing{
    color: red;  
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
    border-radius: 15px;
}

::-webkit-scrollbar
{
    border-radius: 15px;
	width: 6px;
	background-color: #eae4e4;
}

::-webkit-scrollbar-thumb
{
    border-radius: 15px;
	background-color: rgb(199, 201, 200);
}