.back-pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: url('../../public/assets/cards-background1.jpg');
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    [class*="back-pic"] {
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}


.credits-container{
    text-align: center;
}