.error {
    display: flex;
    direction: rtl;
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-right: 0.3rem;
    margin-top: 0.25rem;
  }
  
  .checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
  }
  
  form {
    direction: rtl;
    width: 15rem;
    max-width: 420px;
    margin: 0 auto;
    padding-right: 0;
  }
  
  form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: right;
    margin: 1rem 0 0.2rem;
  }
  
  input {
    width: 15rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    padding: 3.5rem 0.5rem 0.65rem 0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid #333;
  }
  
  input:focus {
    border-bottom: 1px solid #4299e1;
    box-shadow: 0 1px 0 0 #0572ce;
  }
  
  input::placeholder {
    color: #a0aec0;
  }
  
  input[type="checkbox"] {
    width: fit-content;
    margin-right: 0.5rem;
    transform: scale(1.25);
  }
  
  input.input-error{
    border-color: #fc8181;
  }

  .end{
    display: flex;
    align-items: flex-end;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  button {
    visibility: visible;
    width: 6.3rem;
    margin: 2rem 0;
    margin-right: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #18223b;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  button.hide{
    visibility: hidden;
  }

  #loading {
    visibility: hidden;
  }

  #loading.display {
    visibility: visible;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid gray;
    border-radius: 100%;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }