.personal-container{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.detail {
    font-weight: bold;
}

.data-container{
    display: flex;
}