.manager-room-page {
    background-color: #f7f7f7;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Heebo" !important;
    direction: rtl;
}

.file-upload-container, .classes-numbers-container {
    display: flex;
    gap: 1rem;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
}

.file-upload-container input {
    width: 100%;
    margin-bottom: 1rem;
}

.update-button {
    align-self: center;
    height: 3rem !important;
    margin-top: 0.2rem !important;
    cursor: pointer;
}

button:disabled {
    background-color: #a1c4e8;
    cursor: not-allowed;
}

.success-msg {
    color: green;
    margin-top: 1rem;
}

.error-msg {
    color: red;
    margin-top: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 0.9rem;
}

input[type="text"] {
    padding: 0.75rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}
